<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kindergartenapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C8AE9D91D5F337B0069B3BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C8AE9F21D5F337C0069B3BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C8AE9FD1D5F337C0069B3BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
